<h1><%= @item.id ? 'Edit item' : 'Add item' %></h1>
<%= form_for [@department, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>

  <%= f.submit%>
<% end %>
